/* Definición de variables CSS */
:root {
    --color-primary: #2f6ad8;
    --color-secondary: #2083cf;
    --color-text: #000;
    --color-button-login: rgb(76, 162, 5);
    --color-button-login-hover: #165c19;
    --color-button-register: gray;
    --color-button-register-hover: #10b981;
    --spacing-padding: 15px;
  }
  
  /* Contenedor del formulario */
  .login-form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  /* Título */
  .login-form h2 {
    text-align: center;
    color: var(--color-primary);
    font-size: 28px;
    padding: 70px 0 10px;
  }
  
  /* Estilos para inputs */
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: var(--spacing-padding);
    border: 1px solid #070b0f;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: var(--color-secondary);
    color: var(--color-text);
    font-size: 16px;
  }
  
  /* Botón de login */
  .btn-login {
    width: 100%;
    padding: var(--spacing-padding);
    background-color: var(--color-button-login);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-login:hover,
  .btn-login:active {
    background-color: var(--color-button-login-hover);
  }
  
  .btn-login:focus {
    outline: 2px solid var(--color-primary);
  }
  
  /* Botón de registro */
  .btn-register {
    width: 100%;
    padding: var(--spacing-padding);
    background-color: var(--color-button-register);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: large;
    color: white;
    margin-top: 20px;
    appearance: none;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-register:hover,
  .btn-register:active {
    background-color: var(--color-button-register-hover);
  }
  
  .btn-register:focus {
    outline: 2px solid var(--color-button-register-hover);
  }